@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}
  
.arvo-bold {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}
  
.arvo-regular-italic {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
}
  
.arvo-bold-italic {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: italic;
}

header {
    margin: 0%;
    padding: 0%;
    width: 100%;
    .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-top: 50px;
            margin-bottom: 50px;
            width: 60%;
            min-width: 150px;
        }
    }
    .nav {
        display: flex;
        justify-content: center;
        width: 100%;
        
        a {
            text-decoration: none;
            color: aquamarine;
            transition: 0.2s;
            p {
                border: solid 1px black;
                border-radius: 10px;
                padding: 1%;
                background-color: black;
            }
        }

        a:hover {
            color: #FAC898;
            transition: 0.2s;
            background-color: aquamarine;
            border: solid 1px black;
            border-radius: 10px;
            p {
                border: solid 1px black;
                border-radius: 10px;
                padding: 1%;
                background-color: aquamarine;
            }
        }
        
        ul {
            list-style: none;
            justify-content: center;
            display: flex;

            li {
                display: inline;
            }

            .spacing {
                margin-right: 10px;
            }
        }
    }
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 100%;
    background-color: aquamarine !important;

    p {
        font-family: "Arvo", serif;
        font-weight: 400;
        font-style: normal; 
    }
    button {
        font-family: "Arvo", serif;
        font-weight: 400;
        font-style: normal; 
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}