.home-page-container {
    .text {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: aquamarine;
        .text-container {
            margin: 10%;
            width: 50vh;
            img {
                width: 15vw;
                max-width: 250px;
                min-width: 150px;
            }
            .spacer {
                visibility: hidden;
            }
            button {
                background-color: black;
                border: none;
                border-radius: 10px;
                color: aquamarine;
                width: fit-content;
                padding: 2%;
                border: solid 1px black;
                transition: 0.2s;
            }
            button:hover {
                color: black;
                transition: 0.2s;
                background-color: white;
                border: solid 1px black;
                border-radius: 10px;
            }
        }
    }
    
    .image {
        background-image: url("Media/Pages/home/IMG_8199.JPG");        
        background-position-x: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;

        animation-name: animate;
        animation-direction: normal;
        animation-duration: 60s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-play-state: running;
    }
}

@keyframes animate {
    0% {
        background-image: url("Media/Pages/home/IMG_8199.JPG");
    }
    20% {
        background-image: url("Media/Pages/home/IMG_9303.JPG");
    }
    40% {
        background-image: url("Media/Pages/home/IMG_9712_01.JPG");
    }
}