.home-page-container {
    .text {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: aquamarine;
        .text-container {
            margin: 10%;
            width: 50vh;
            a {
                text-decoration: none;
                color: black;
                transition: 0.2s;
                p {
                    padding: 1%;
                    transition: 0.2s;
                    border-radius: 10px;
                }
            }
            a:hover {
                color: rgb(0, 0, 0);
                p {
                    background-color: #FDFD96;
                    border-radius: 10px;
                    transition: 0.2s;
                    text-decoration: underline;
                }
            }
            img {
                width: 15vw;
                max-width: 250px;
                min-width: 150px;
            }
            .spacer {
                visibility: hidden;
            }
            button {
                background-color: black;
                border: none;
                border-radius: 10px;
                color: aquamarine;
            }
        }
    }
    
    .image {
        background-image: image-set(
            url("../Media/Pages/Main/IMG_8199.JPG") 1x,
            url("../Media/Pages/Main/IMG_9303.jpg") 1x,
            url("../Media/Pages/Main/IMG_9712_01.jpg") 1x
        );
        
        background-position-x: 50%;
        background-size: cover;
        height: 100vh;
    }
}